<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Sản phẩm bán chạy.</h1>
  </div>
</div>
<!-- Page Header End -->


<!-- Shop Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-12">
      <!-- Price Start -->
      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Lọc theo giá</h5>

        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" checked id="price-all">
          <label class="custom-control-label" for="price-all">All Price</label>
          <span class="badge border font-weight-normal">1000</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-1">
          <label class="custom-control-label" for="price-1">$0 - $100</label>
          <span class="badge border font-weight-normal">150</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-2">
          <label class="custom-control-label" for="price-2">$100 - $200</label>
          <span class="badge border font-weight-normal">295</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-3">
          <label class="custom-control-label" for="price-3">$200 - $300</label>
          <span class="badge border font-weight-normal">246</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-4">
          <label class="custom-control-label" for="price-4">$300 - $400</label>
          <span class="badge border font-weight-normal">145</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
          <input type="checkbox" class="custom-control-input" id="price-5">
          <label class="custom-control-label" for="price-5">$400 - $500</label>
          <span class="badge border font-weight-normal">168</span>
        </div>

      </div>
      <!-- Price End -->
    </div>
    <!-- Shop Sidebar End -->


    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-12">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">

<!--            <div class="input-group">-->
<!--              <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">-->
<!--              <div class="input-group-append">-->
<!--                                        <span class="input-group-text bg-transparent text-primary">-->
<!--                                            <i class="fa fa-search"></i>-->
<!--                                        </span>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="dropdown ml-4">-->
<!--              <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"-->
<!--                      aria-haspopup="true"-->
<!--                      aria-expanded="false">-->
<!--                Sắp xếp theo-->
<!--              </button>-->
<!--              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">-->
<!--                <a class="dropdown-item" href="#">Quạt hơi nước</a>-->
<!--                <a class="dropdown-item" href="#">Quạt treo tường</a>-->
<!--                <a class="dropdown-item" href="#">Quạt cây</a>-->
<!--                <a class="dropdown-item" href="#">Bếp điện</a>-->
<!--                <a class="dropdown-item" href="#">Bếp từ</a>-->
<!--                <a class="dropdown-item" href="#">Bếp điện từ</a>-->
<!--                <a class="dropdown-item" href="#">Mấy sấy</a>-->
<!--                <a class="dropdown-item" href="#">Nồi cơm điện</a>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>


        <!-------------     Sản Phẩm    ---------->
<div style="background: url(../../../assets/images/background.png);background-size:cover;color: white; padding: 10px 10px; margin-bottom: 50px">Quạt hơi nước</div>

        <div class="col-lg-4 col-md-6 col-sm-12 pb-1 " *ngFor="let item of productList1">
          <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="text-align: center">

              <img class="img-fluid" style="width: 236px" src="{{item.image}}" alt="">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
              <h6 class="text-truncate mb-3">{{item.name}}</h6>
              <div class="d-flex justify-content-center">
                <h6 style="color: red">{{item.price | number}} đ</h6>
                <!--                <h6 class="text-muted ml-2">-->
                <!--                  <del>150.000</del>-->
                <!--                </h6>-->
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
              <a routerLink="/info/{{item.id}}" class="btn btn-sm text-dark p-0"><i
                class="fas fa-eye text-primary mr-1"></i>Chi
                tiết</a>
              <a routerLink="/orderDetail" class="btn btn-sm text-dark p-0" (click)="addCart(item.id)"><i
                class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ hàng</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-minus"
                    *ngIf="hasMore1" (click)="loadMoreCategoryId1()">Xem thêm
            </button>
            <button class="btn btn-primary btn-minus"
                    *ngIf="displayedCount1 > 0 && !hasMore1" (click)="reset1()">Thu gọn
            </button>
          </div>
          <div class="col-md-5"></div>
        </div>

<!--        <div class="container-fluid bg-secondary mb-5 mt-5">-->
<!--          <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">-->
<!--            <h1 class="font-weight-semi-bold text-uppercase mb-3">Các loại bếp</h1>-->
<!--          </div>-->
<!--        </div>-->

        <div style="background: url(../../../assets/images/background.png);background-size:cover;color: white; padding: 10px 10px; margin-top: 50px; margin-bottom: 50px">Các loại bếp</div>

        <div class="col-lg-4 col-md-6 col-sm-12 pb-1 " *ngFor="let item of productList2">
          <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="text-align: center">
              <img class="img-fluid " style="width: 236px; height: 177px" src="{{item.image}}" alt="">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
              <h6 class="text-truncate mb-3">{{item.name}}</h6>
              <div class="d-flex justify-content-center">
                <h6 style="color: red">{{item.price | number}} đ</h6>
                <!--                <h6 class="text-muted ml-2">-->
                <!--                  <del>150.000</del>-->
                <!--                </h6>-->
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
              <a routerLink="/info/{{item.id}}" class="btn btn-sm text-dark p-0"><i
                class="fas fa-eye text-primary mr-1"></i>Chi
                tiết</a>
              <a routerLink="/orderDetail" class="btn btn-sm text-dark p-0" (click)="addCart(item.id)"><i
                class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ hàng</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-minus"
                    *ngIf="hasMore2" (click)="loadMoreCategoryId2()">Xem thêm
            </button>
            <button class="btn btn-primary btn-minus"
                    *ngIf="displayedCount2 > 0 && !hasMore2" (click)="reset2()">Thu gọn
            </button>
          </div>
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shop End -->
</div>



