
<body>
<footer>
  <div class="content">
    <div class="item">
      <ul>
        <li class="zoom">Về chúng tôi</li>
        <li>
          <p class="zoom">Chúng tôi cam kết mang đến những sản phẩm tốt nhất
            và tận tâm phục vụ đối với mọi khác hàng, luôn nổ lực hết mình vì
            một lợi ích chung của cộng đồng.
          </p>
        </li>

      </ul>
    </div>
    <div class="item">
      <ul>
        <li class="zoom">Cơ sở chúng tôi</li>
        <li class="zoom">
          <p>Tọa lạc tại 280, Đường Trần Hưng Đạo
            An Hải, An Hải Tây, Sơn Trà, Đà Nẵng.<br>
            Số điện liên hệ: 0817469555.
          </p>
        </li>

      </ul>
    </div>

    <div class="item">
      <ul>
        <li class="zoom">Các sản phẩm chủ đạo</li>
        <li class="zoom">Bếp</li>
        <li class="zoom">Quạt</li>
        <li class="zoom">Mấy sấy</li>
        <li class="zoom">Nồi cơm điện</li>
      </ul>
    </div>
    <div class="item">
      <h6 class="zoom" style="color: white">Phản hồi cho chúng tôi nếu bạn có thắc măc về sản phẩm<br>
        hoặc phản ánh chất lượng dịch vụ của chúng tôi.</h6>
      <input class="zoom" type="email" placeholder=" Email..." style="width: 250px; height: 5px; border-radius: 10px">
      <button class="btn btn-danger" type="submit" style=" width: 50px; height: 40px; border-radius: 15px; border: none">Gửi</button>
    </div>
  </div>
</footer>

</body>

